ul {
    list-style-type: none;
}
.App {
    text-align: center;
}

.brandName:hover {
    color: red;
}

.catButtons {
    border: 1px solid black;
}

.chooseCat {
    display: flex;
    margin: 1em 30em;
    justify-content: space-evenly;
}

.beerCat {
    text-align: center;
    font-size: 20px;
}

.foodCat {
    padding: 1em 3em;
    margin: .5em 1em;
    font-size: 15px;
}

.coffeeCat {
    padding: 1em 3em;
    margin: .5em 1em;
    font-size: 15px;
}

.wineCat {
    padding: 1em 3em;
    margin: .5em 1em;
    font-size: 15px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

.category {
    border: 1px solid black;
}

.item {
    border: 1px solid black;
}
